.text-field{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 5;
}

.button {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 5;
}

.grid-cells {
    -fx-border-color: black;
    -fx-border-radius: 15;
}