.text-field{
    -fx-background-color: white;
    -fx-fill: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: black;
}

.button-standard {
    -fx-background-color: white;
    -fx-fill: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: black;
}


