.text-field{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 5;
}

.button-standard {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 5;
}


